<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-controller="StoreController as store">
    <h1>Flatlander's Store </h1>

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right"> {{product.price | currency}} </em>
        </h3>
        <div class="gallery">
            <img ng-src="{{product.image}}"/>
        </div>
        <p> {{product.description}}</p>
        <button ng-show="product.canPurchase"> Add to Cart </button>
        <p>
        </p>
        <section ng-controller="PanelController as panel">
          <ul class= "nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1)}">
              <a href ng-click="panel.selectTab(1)">Description </a> </li>
            <li ng-class="{ active:panel.isSelected(2)}">
              <a href ng-click="panel.selectTab(2)"> Specifications </a> </li>
            <li ng-class="{ active: panel.isSelected(3)}">
              <a href ng-click="panel.selectTab(3)"> Reviews </a> </li>
          </ul>
          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description </h4>
            <p>{{product.description}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications </h4>
            <p>{{product.specifications}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews </h4>
            <p>{{product.reviews}}</p>
          </div>
        </section>
      </li>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
